@use '../../../assets/styless/colours' as*;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    padding: 20px;
    background: $lightgray;
}

header {
    background: $darkgray;
    padding: 20px;
    color: #fff;
}

.sidebar {
    background: $darkgray;
    padding: 20px;
    a {
        color: #fff;
    }
}