@use '../../../../assets/styless/colours' as *;

:host {
   background: $darkgray; 
   padding: 20px;
}

.logo-text {
   font-size: 22px;
   color: white;
}

.logo-icon .shopping-basket{
   font-size: 30px;

}