<div flexLayout="row" class="footer-manu">
    <div fxFlex>
        <div>Category</div>
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>About the company</div>
        <ul>
            <li>About the company 1</li>
            <li>About the company 2</li>
            <li>About the company 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>Help</div>
        <ul>
            <li>Help 1</li>
            <li>Help 2</li>
            <li>Help 3</li>
        </ul>
    </div>
</div>
<div flexLayout="column" class="footer-copy">
    Copy &copy; Shop 2023 All rights reserved.
</div>