<form fxLayout="column" [formGroup]="productForm" (submit) = "submit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter the product name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput rows='20' placeholder="Enter a description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput placeholder="Enter the category" formControlName="category">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter price" formControlName="price">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <input matInput placeholder="Enter a currency" formControlName="currency">
      </mat-form-field>

      <div fxLayoutAlign="end">
        <button mat-flat-button color="primary">Save</button>
      </div>
  </form>